<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testng.xml">

	<listeners>
		<listener class-name="com.qa.API.extentReport.ExtentReportNG" />
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.qa.API.tests.TC001_GET_All_Employees" />
			<class name="com.qa.API.tests.TC002_GET_Employee" />
			<class name="com.qa.API.tests.TC003_POST_Employee" />
			<class name="com.qa.API.tests.TC004_PUT_EmployeeRecord" />
			<class name="com.qa.API.tests.TC005_DELETE_Employee" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- testng.xml -->
